* {
	font-family: Verdana, sans-serif;
}

body {
	margin: 0;
}

nav {
	height: 100vh;
	width: 100vw;
	font-size: 15vmin;
	text-align: center;
	margin: 0;
	position: fixed;
}


#code {
	background-color: #e0e0e0;
	line-height: 32vh;
	height: 33vh;
}

#photo {
	background-color: #d0d0d0;
	line-height: 32vh;
	height: 33vh;
}

#contact {
	background-color: #c0c0c0;
	line-height: 32vh;
	height: 34vh;
}


a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}
a:hover, #code:hover, #photo:hover, #contact:hover {
	color: #339900;
	background-color: #404040;

}
a:active, #code:active, #photo:active, #philosophy:active  {
	color: #339900;
	background-color: #404040;
}
